@import "../../utils/mixins.scss";

.main_wrapper {
  margin: 4.875rem 0 8.125rem;
  display: flex;
  flex-direction: column;

  @include onTablet {
    margin-top: 8.75rem;
  }

  @include onDesktop {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: clamp(2rem, 4vw, 2.2rem);
    line-height: 100%;
    color: #1a1a1a;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: clamp(1rem, 2vw, 1.2rem);
    margin-top: 1rem;
    line-height: 175%;
    color: #1a1a1a;
  }
}

.main_content {
  width: 100%;
  height: 100%;

  @include onDesktop {
    width: 60%;
    height: 100%;
  }
}

.desktop_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  row-gap: 2rem;

  @include onDesktop {
    display: flex;
    column-gap: 2rem;
    flex-direction: row;
  }
}

.fields_block {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-top: 1.875rem;
  input,
  textarea {
    width: 100%;
    resize: none;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 1.2rem;
    box-shadow: 0px 16px 32px rgba(202, 203, 210, 0.25);
    color: #252425;
    transition: 0.1s;
    &::placeholder {
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 175%;
      color: #414042;
      opacity: 0.5;
    }
    &:focus {
      outline: 2px solid rgb(69, 69, 238);
    }
  }
  textarea {
    min-height: 330px;
  }
  button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #fff;
    background-color: #1a1a1a;
    border: 0;
    border-radius: 0.5rem;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1rem, 2vw, 1.2rem);
    line-height: 175%;
    text-align: center;
    padding: 1rem 0;
    transition: 0.3s ease-in-out;
    margin-top: 0.25rem;
    &:hover {
      opacity: 0.9;
    }

    @include onTablet {
      width: 40%;
    }
  }
}

.desktop_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  @include onDesktop {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.customField {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 16px 32px rgba(202, 203, 210, 0.25);
  span {
    color: #414042;
    opacity: 0.5;
  }
  svg {
    path {
      opacity: 0.5;
      background-color: #414042;
    }
  }
}

.map_wrapper {
  width: 100%;
  height: 100%;
  align-self: stretch;
  margin-top: 4rem;

  @include onDesktop {
    width: 40%;
    height: 100%;
    margin-top: 0;
  }
}
